<div class="list-note">
  <div class="head">
    <div class="title">Danh sách ghi chú</div>
    <div class="filter-search">
      <div class="filter_button">
        <mat-icon>filter_list</mat-icon>
      </div>
      <div class="search_button">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="pinned-notes">
      <div class="pin-title">
        <div>
          <mat-icon>pin_drop</mat-icon>
          <span>Đã ghim</span>
        </div>
        <hr>
      </div>
      <div class="pinned-notes">
        <app-note-in-list></app-note-in-list>
      </div>
    </div>
    <div class="unpinned-note">

    </div>
  </div>
</div>
