<!-- <p>side-menu works!</p> -->

<!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->

<div class="side-menu">
  <div>
    <div class="namespace">
      <p>Làm việc</p>
      <hr>
    </div>
    <div  class="note menu-item">
      <mat-icon>note_add</mat-icon>
      <span style="color: #FFB908">Ghi chú</span>
    </div>
    <div class="archived menu-item">
      <mat-icon>archive</mat-icon>
      <span>Lưu trữ</span>
    </div>
    <div class="shared menu-item">
      <mat-icon>share</mat-icon>
      <span>Chia sẻ với tôi</span>
    </div>
  </div>
</div>
