.side-menu {
  width: 180px;
  margin-top: 130px;

}

.namespace {
  color: #898686;

}

.namespace p {
  font-size: 22x;
  font-weight: 500;
}

.namespace hr {
  margin-top: -12px;
}

.menu-item {
  display:  flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  color: #363434;
}

.menu-item span {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  margin-left: 8px;
}
